################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tpmodul4_103022300064/tpmodul4_103022300064/Class1.cs
